.movie-details-page .trailer {
    display: flex;
    justify-content: center;
}
.movie-details-page .trailer iframe {
    width: 700px;
    height: 300px;
    border: none;
}

/* ---- Details section ---- */
.movie-details-page .movie-details-info {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(189, 187, 187, 0.084);
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.movie-details-page .movie-details-info img {
    width: 300px;
    margin: 10px;
}
.movie-details-page .movie-details-info > div {
    margin-inline: 10px;
}
.movie-details-page .rating-genre {
    margin-block: 5px;
    list-style: none;
    display: flex;
    gap: 20px;
}
.movie-details-page .rating-genre li {
    padding: 5px;

    color: rgba(255, 255, 255, 0.742);
    background-color: rgba(103, 102, 102, 0.436);
    border-radius: 5px;
}
.movie-details-page .miniTitle {
    font-weight: bold;
    margin-top: 10px;
}
.movie-details-page .cast {
    margin-block: 10px;
}
.movie-details-page .fav-button {
    font-size: 20px;
    height: 40px;
    padding-inline: 10px;
}
.movie-details-page .reviews {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgba(189, 187, 187, 0.084);
    border-radius: 5px;
}
.movie-details-page .reviews h2 {
    margin-top: 0;
}
.movie-details-page .reviews ul {
    display: grid;
    gap: 12px;
    padding-left: 20px;
}
.movie-details-page .reviews li {
    padding-left: 4px;
}

/* ---- Showtimes ---- */
.movie-details-page h3 {
    text-align: center;
    font-size: 25px;
}
